.time-count{
    position: absolute;
    background-color: black;
    color:white;
    font-family: roboto,arial;
    font-size:14px;
    font-weight: 500;
    right:5px;
    bottom:10px;
    padding: 2px 5px 2px 5px;
    border-radius: 2px 2px 2px 2px;
}

.first-box{
    display:grid;
    width:280px;
    height:280px;
    cursor:pointer;
    position:relative;
    z-index:0;
}

.second-box{
    display:grid;
    width:280px;
    height:280px;
    cursor:pointer;
}

.time-box-1{
    position: relative;
    margin-bottom: 5px;
    width:280px;
}

.third-box{
    display:grid;
    width:280px;
    height:280px;
    cursor:pointer;
}
.image-2{
    width:280px;
    height:164px;
}

.image{
    height:164px;
    width:280px;
}

.image-1{
    width:280px;
    height:164px;
    cursor:pointer;

}

.image-1:hover{
    color:black;

}

.link-1{
    color:black;
    text-decoration: none;
    display:block;
    font-family:Roboto;
    margin-bottom:6px;
    margin-top:6px;
    font-weight:400;
    font-size:14px;
    line-height:20px;
    
}

.link-1description{
    font-family: roboto;
    color:gray;
    cursor:pointer;
    font-size:13px;
    font-weight:400;
    line-height:20px;
    margin-bottom:4px;
    margin-top:0px;
}

.AD{
    color:white;
    background:rgb(251, 192, 45);
    font-family:roboto;
    padding-left:4px;
    padding-right:4px;
    padding-top:3px;
    padding-bottom: 3px;
    cursor:pointer;
    font-size:12px;
    border-radius:2px;
    font-weight:600;
    margin-right:5px;
}

.ascension{
    color:gray;
    font-family:roboto;
    margin-top:0px;
    margin-bottom:12px;
}

.ad-div{
    display:inline-block;
}

.ascension-div{
    display:inline-block;
}




.Day-2{
    text-decoration: none;
    font-family:roboto,arial;
    color:black;
    font-size:14px;
    font-weight:500;
    cursor:pointer;
}



.channel-2-box{
    width:40px;
    display:inline-block;
    vertical-align:top;
}

.channel-2{
    width:100%;
    border-radius:50px;
}

.channel-2-profile{
    display:inline-block;
    width:230px;
}